window {
  margin: 0px;
  border: 1px solid #44475a;
  border-radius: 6px;
  background-color: rgba(30, 30, 46, 0.5);
  color: #cdd6f4;
}

#input {
  margin: 5px;
  border: none;
  color: #cdd6f4;
  background-color: #313244;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: rgba(30, 30, 46, 0.5);
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: rgba(30, 30, 46, 0.5);
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  font-family: "Nunito";
  font-weight: bold;
  margin: 5px;
  border: none;
}

#entry:selected {
  background-color: #45475a;
}
